body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f8f8f8;
  color: #333;
}

.img-logo{
  height: 4rem;
}

h2 {
  margin-top: 20px;
  color: #333;
  font-size: 1.2rem;
}

header {
  background-color: #FF8400;
  color: white;
  padding: 10px 15px;
}


.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px;
  width: 20rem;
  margin: 0 auto;   
}

.search-container input {
  border: none;
  outline: none;
  flex: 1;
}

.search-container button {
  background: none;
  border: none;
  cursor: pointer;
  color: #FF8400;
  font-size: 16px;
}

.categories {
  display: flex;
  justify-content: left;
  margin-top: 10px;
}

.categories button {
  background-color: transparent;
  border: none;
  padding: 6px 12px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  font-weight: 700;
}

.categories button.active {
  background-color: #CD6205;
}

.featured {
  padding: 15px;
}

.featured-item {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-top: 10px;
  text-align: center;
}

.image-placeholder {
  background-color: #ddd;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #555;
}

.latest {
  padding: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 15px;
  margin-top: 10px;
}

.card {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
}

.description {
  font-size: 0.9rem;
  color: #666;
}
